<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <br>
      <br>
      <br>
      <h3>INICIO DE SESION</h3>
      <br>
      <h5>EMPLEADO</h5>
      <br>
      <form>
        <label>Usuario</label>
        <input #usuario type="text" class="form-control">

        <label>Clave</label>
        <input #clave type="password" class="form-control">
        <br>
        <div id=alerta class="alert alert-danger" style="display: none;" role="alert">Usuario o clave incorrecto</div>
        <br>
        <button (click)="iniciarSesion(usuario.value,clave.value)" class="btn btn-primary">Iniciar sesion</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>
